.Header {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.navLink {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.navLink:hover {
    background: #000;
    color: #fff;
}